# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock
*.iml
.idea/
.flutter-plugins

# Android
android/.gradle/
android/local.properties
android/app/.cxx/
android/key.properties
*.jks
*.keystore

# Cloudflare worker
cloudflare/.dev.vars
cloudflare/node_modules/
cloudflare/.wrangler/

# misc
.DS_Store
*.log
